[package]
name = "zenzop"
version = "0.1.0"
edition = "2021"
rust-version = "1.82.0"
description = "A faster fork of the Zopfli DEFLATE compressor. Drop-in replacement with identical output."
readme = "README.md"
license = "Apache-2.0"
keywords = ["compression", "deflate", "zopfli"]
categories = ["compression", "no-std"]
exclude = [
  ".github/*",
  ".gitignore",
  "Makefile",
  "benchmark-builds/*",
  "rustfmt.toml",
  "test/*",
]

# docs.rs uses a nightly toolchain, so it can leverage unstable rustdoc features.
# Reference: https://docs.rs/about/builds
[package.metadata.docs.rs]
cargo-args = ["--all-features"]

[[bin]]
name = "zenzop"
required-features = ["gzip", "std", "zlib"]

[dependencies]
bumpalo = "3.19.0"
crc32fast = { version = "1.5.0", default-features = false, optional = true }
log = { version = "0.4.28", optional = true }
rayon = { version = "1.10", optional = true }
simd-adler32 = { version = "0.3.7", default-features = false, optional = true }

[dev-dependencies]
criterion = { version = "0.5", features = ["html_reports"] }
miniz_oxide = "0.8.9"
proptest = "1.7.0"
proptest-derive = "0.7.0"

[[bench]]
name = "compress"
harness = false

[features]
default = ["gzip", "std", "zlib"]
gzip = ["dep:crc32fast"]
nightly = ["crc32fast?/nightly"]
parallel = ["dep:rayon", "std"]
std = ["crc32fast?/std", "dep:log", "simd-adler32?/std"]
zlib = ["dep:simd-adler32"]

[profile.release]
debug = true

[profile.bench]
debug = true
